ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}
.user-detail
{
    width: 1140px;
    margin: 100px auto;
    border: 1px solid #ededed;
    padding: 20px;
    box-sizing: border-box;
}

.form-control
{
    display: block;
/*    margin: 5px 0px;*/
/*    height: 30px;*/
}
.btn
{
    background: #c20302;
    color: #ffffff;
    padding: 10px 30px;
    border: 0px !important;
    cursor: pointer;
}
.btn-green
{
    background-color: #22c383 !important;
    padding: 8px 30px !important;
    border-radius: 50px !important;
    border: 0px !important;
    color: #ffffff !important;
}
.btn-submit
{
    background-color: #22c383 !important;
    padding: 8px 30px !important;
    margin-left: 15px;
}
.navbar
{
    width: 100%;
    background-color: #e8efef !important;
}
.navbar-brand
{
    color: #22c383;
    font-weight: 600;
}
.navbar-brand:hover
{
    color: #22c383;   
}
.navbar-nav .nav-item
{
    margin: 0px 0px 0px 30px;
}
.navbar-nav .nav-link
{
    color: #2b2d50;
}
.banner
{
    height: 600px;
    background-color: #e8efef;
}
.banner .banner-text
{
    margin-top: 200px;
}
.banner .banner-image
{
  
}
.about-us
{
    margin: 30px 0px;
}

.login_bg
{
    background-color: #ededed;
   display: flex;
    align-items: center;
    height: 100vh;
}

#admin-header
{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #04e8b0;
    padding: 0px 32px 0px 0px;
}
#admin-header .logo
{
    color: #ffffff;
    padding: 5px 0px 0px;
    width: 250px;
   
    background-color: #0ccc9d;
}
#admin-header .logo h3
{
     margin-left: 16px;
}
#admin-header .profile-menu
{
    margin: 0px;
}
#admin-header .profile-menu ul li
{
    display: inline-block;
    position: relative;
}
#admin-header .profile-menu ul ul
{
    position: absolute;
    left: 0px;
    top: 50px;
    display: block;
    background-color: #0ccc9d;
    width: 130px;
    display: none;
    border: 1px solid #f5f5f5;
}
#admin-header .profile-menu ul ul li
{
    display: block;
}
#admin-header .profile-menu ul li:hover ul
{
    display: block;
}
#admin-header .profile-menu ul li a
{
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 11px 16px 15px;
}
#admin-header .profile-menu ul li a:hover
{
    background-color: #0ccc9d;
}
#admin-header .profile-menu ul li a i
{
    margin-left: 20px;
}
.sidebar
{
    width: 250px;
    background-color: #222d32;
    position: fixed;
    left: 0;
    top: 50px;
    height: calc(100vh - 50px);
    padding: 50px 0px 0px;
}
.sidebar ul
{
    
}
.sidebar ul li
{
    margin: 21px 0px;
}
.sidebar ul li a
{
    color: #b8c7ce;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 12px 30px 12px 15px;
}
.sidebar ul li a i
{
    float: right;
    font-size: 12px;
    
}
.sidebar ul li a:hover
{
    color: #fff;
    background: #1e282c;
}
.sidebar .user-panel
{
    display: flex;
    color: #ffffff;
    padding-left: 18px;
}
.sidebar .user-panel .user-img
{
    width: 40px;
    height: 40px;
}
.sidebar .user-panel .user-img img
{
    width: 100%;
    height: 100%;
}
.sidebar .user-panel .username
{
    margin: 8px 0px 0px 30px;
}